@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="inline"] {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ca0e0e;
  }
}

body {
  background: var(--background);
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  color: rgb(214, 214, 214);
}